<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Search">
    <ng-form name="search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Terms..." ng-model="search.terms" ng-model-options="{'debounce':100}"/>
      </div>
    </ng-form>
    <div class="results-list">
      <uib-accordion ng-if="search.terms.length > 1">
        <course-search-result
          course="class"
          ng-repeat="class in search.courses | filter:search.terms">
        </course-search-result>
      </uib-accordion>
      <span ng-if="search.terms.length <= 1">Enter at least 2 characters to start searching...</span>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="Advanced" ng-hide="true">Advanced</uib-tab>
  <uib-tab index="2" heading="Requirements">Requirements</uib-tab>
  <uib-tab index="3" heading="Settings">
    <div class="checkbox" ng-repeat="subject in search.subjects">
      <label>
        <input type="checkbox" ng-model="search.activeSubjects[subject.id]"/>
        {{subject.label}}
      </label>
    </div>
    <button type="button" class="btn btn-default btn-sm" ng-click="search.updateSubjects()">Save new subjects</button>
  </uib-tab>
</uib-tabset>
