<uib-tabset active="activeJustified" justified="true">
  <uib-tab index="0" heading="Search">
    <ng-form name="search-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Terms..." ng-model="search.terms" ng-model-options="{'debounce':100}"/>
      </div>
    </ng-form>
    <div class="results-list">
      <ul class="list-group" ng-if="search.terms.length > 1">
        <li class="list-group-item" ng-repeat="class in search.courses | filter:search.terms">
          {{class.id}}
        </li>
      </ul>
      <span ng-if="search.terms.length <= 1">Enter at least 2 characters to start searching...</span>
    </div>
  </uib-tab>
  <uib-tab index="1" heading="Advanced">Advanced</uib-tab>
  <uib-tab index="2" heading="Requirements">Requirements</uib-tab>
</uib-tabset>
