$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.tab-pane {
  padding: 10px;
}

h4.panel-title {
  font-size: 14px;
  line-height: 1;
}
