<div>
  <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="calendar.eventSources" calendar="schedule"></div>

  <!-- CUSTOM CALENDAR FOOTER -->
  <div id="calendar-custom-footer" class="text-right">
    <a uib-tooltip="Attempts Registration for all Previews" tooltip-popup-delay="1000" tooltip-placement="top">
      <button type="button" class="btn btn-default btn-sm voffset3" ng-click="calendar.registerAllPreview()">Register Previewed Courses</button>
    </a>
  </div>

  <hr>
  <!-- ROW FOR CRN ADD -->
  <div id="CRN-add">
    <div class="col-xs-2" ng-repeat="input in calendar.CRNInputs">
      <input type="text" class="form-control" placeholder="CRN" ng-model="input.crn"/>
    </div>
    <div class="col-xs-2">
      <a uib-tooltip="Attempts Registration for courses with input CRNs" tooltip-popup-delay="1000" tooltip-placement="top">
        <button type="button" class="btn btn-default btn-sm" ng-click="calendar.registerByCRN()">Register by CRN</button>
      </a>
    </div>
  </div>
</div>
