<div class="course-list">
<h5>Courses</h5>
<h6>Registered</h6>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="(crn,course) in list.courses" ng-if="!course.preview">
<!-- TODO: No html when I try to do this component thing to avoid duplicate info, not sure why -->
     <list-item crn="crn" course="course"></list-item>
  </li>
</ul>
<h6>Previewed</h6>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="(crn,course) in list.courses" ng-if="course.preview">
       <list-item crn="crn" course="course"></list-item>
  </li>
</ul>
</div>
